@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Password Reset Email Sent</PageTitle>

<div class="auth-status">
    <div class="auth-status-icon info">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" viewBox="0 0 16 16">
            <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
        </svg>
    </div>
    
    <h1>Check Your Email</h1>
    
    <p class="auth-status-message">
        If an account exists with that email address, we've sent a password reset link.
    </p>
    
    <p class="auth-status-hint">
        Please check your email and click the link to reset your password. If you don't see the email, check your spam folder.
    </p>
    
    <div class="auth-actions">
        <a href="Account/Login" class="btn btn-primary">Back to Login</a>
    </div>
</div>
