@*
    AddVehicleCard Component
    "Add new" card that matches vehicle card styling
    
    Usage:
    <AddVehicleCard OnClick="() => NavigateToAddVehicle()" DisplayMode="AddVehicleCard.Mode.Card" />
*@

@if (DisplayMode == Mode.Card)
{
    <div class="vehicle-card add-vehicle-card" @onclick="HandleClick">
        <div class="add-vehicle-content">
            <div class="add-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </div>
            <span class="add-text">@Text</span>
        </div>
    </div>
}
else
{
    @* List/Row Mode *@
    <div class="vehicle-row add-vehicle-row" @onclick="HandleClick">
        <div class="add-icon-small">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
        </div>
        <div class="vehicle-row-info">
            <span class="add-text">@Text</span>
        </div>
    </div>
}

@code {
    [Parameter] public string Text { get; set; } = "Add New Vehicle";
    [Parameter] public Mode DisplayMode { get; set; } = Mode.Card;
    [Parameter] public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync();
    }

    public enum Mode
    {
        Card,
        List
    }
}

